/E01WrapperClass1.class
/E01WrapperClass2.class
/E02SoBigNumberClass.class
/E03MathClass.class
/E04Object1toString.class
/myFriends.class
/yourFriends.class
/IntNumber.class
/E05Date.class
/E04Object3Equals.class
/MyClass$E04Object3Equals.class
/MyClass.class
/E06LocalDateTime.class
/E07Random.class
/E04Object2MyEquals.class
