/Apple.class
/Banana.class
/Ex01GenericBasic.class
/Ex02GenericClass.class
/Ex03ArrayList1.class
/Ex04HashSet1.class
/Ex04HashSet2.class
/Ex05TreeSetMain.class
/Ex06HashMapMain.class
/Ex07MyFriendInfoBook.class
/Friend.class
/FriendInfoHandler1.class
/FruitBox.class
/GenericFruitBox.class
/HighFriend.class
/MyString.class
/Orange.class
/OrangeBox.class
/UnivFriend.class
